# MySQL 데이터베이스 설정
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=devuser
MYSQL_PASSWORD=devpass
MYSQL_DATABASE=devdb

# AI Provider 설정 (groq, ollama, lmstudio)
AI_PROVIDER=ollama

# Groq 설정
GROQ_API_KEY=your_groq_api_key
#GROQ_MODEL=llama3-8b-8192
GROQ_MODEL=qwen/qwen3-32b

# LM Studio 설정
LMSTUDIO_BASE_URL=http://localhost:1234/v1
LMSTUDIO_MODEL=qwen/qwen3-8b

# LLM Tool 사용 설정 (true 또는 false)
USE_LLM_TOOLS=false

# Ollama 설정
OLLAMA_BASE_URL=http://localhost:11434
#OLLAMA_MODEL=llama3.1:8b
#OLLAMA_MODEL=llama3:8b
#OLLAMA_MODEL=qwen2.5-coder:latest
#OLLAMA_MODEL=gemma3-t:4b
#OLLAMA_MODEL=qwen3:8b
OLLAMA_MODEL=qwen3-coder:4b

# 로깅 설정
LOG_LEVEL=DEBUG
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s


# MCP STREAM 서버 설정
MCP_SERVER_HOST="127.0.0.1"
MCP_SERVER_PORT=7000

# Http 서버 설정
HTTP_SERVER_HOST="127.0.0.1"
SERVER_PORT=9000

